main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10em;

}
.card-content-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5em;

}

.button {
  /* position: relative; */
  width: 7em;
  height: 2em;

}

.card-details {
  text-align: center;
}



